
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: .5em;
}

.list {
    font-weight: 600;
    display: flex;
    list-style: none;
    align-items: center;
    position: absolute;
    left: 65%;
    top: 6%;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}
